
<div class="container-fluid border-bottom border-2 border-md-3 border-primary py-3 py-md-7 position-relative">
<div class="container">
    <nav class="navbar d-flex flex-nowrap py-0 justify-content-between justify-content-md-between justify-content-start align-items-center">
    <!-- Left -->
      <div class="d-flex align-items-center flex-grow-1">
        <a class="d-flex align-items-center me-sm-7 me-lg-11" href="./index.html">
                <div class="logo d-block me-7 me-md-4">7TAO活動訂票網</div> 
                <div class="d-none d-lg-flex align-items-center align-middle link-primary">
                <h1 class="ff-yeseva fs-4 mb-0">7TAO</h1>
                <p class="ff-serif fw-bold fs-8 ms-1">活動訂票網</p>
            </div>
        </a>
        <form class="d-block" role="search">
          <div class="input-group">
            <input class="form-control border border-2 border-md-3 border-primary rounded-0 py-2 py-md-3 px-3 px-md-7" id="home-search" type="search" placeholder="探索活動" aria-label="Search">
            <btn class="btn btn-primary rounded-0 ratio ratio-1x1 fs-7 justify-content-center align-content-center search-Btn" id="search-events" role="button">
                <i class="icofont-1x icofont-search-1 text-warning py-3 py-md-4"></i>
            </btn>
          </div>
        </form>
      </div>
    <!-- Right -->
      <div class="d-md-block">
        <ul class="list-unstyled d-flex align-items-center mb-0 d-none d-md-flex">
          <li class="header-area__menu-item">
            <a class="ff-yeseva fs-7 link-primary me-6" role="button" data-bs-toggle="modal" data-bs-target="#join-member-modal">
                <i class="icofont-ui-file me-1"></i>REGISTER</a></li>
          <li class="header-area__menu-item hover-springWood">
            <a href="#" class="fs-7 ff-yeseva link-primary me-1 fw-normal">
                <i class="icofont-ui-user me-1"></i>LOGIN</a></li>
        </ul>
        <!-- 漢堡按鈕 -->
        <div class="d-block d-md-none d-flex fs-6 align-text-top py-1 px-3 ms-7 rounded-2 border border-2 border-primary collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-header-menu" role="button" aria-expanded="false" aria-controls="collapse-header-menu">
          <span class="navbar-toggler-icon text-primary text-bold"></span>
        </div>
      </div>
    </nav>
</div>
    <div class="container-fluid row border-bottom border-top border-2 border-primary bg-springWood position-absolute w-100 z-3 mt-3 collapse bg-springWood" tabindex="-1" id="collapse-header-menu" aria-labelledby="collapse-header-menu">
      <div class="container py-6 px-0">
        <ul class="list-unstyled mb-0">
          <li class="mb-4"><a class="ff-yeseva link-primary" role="button" data-bs-toggle="modal" data-bs-target="#join-member-modal"><i class="icofont-ui-file me-1"></i>REGISTER</a></li>
          <li class="ff-yeseva"><a href="#" class="link-primary"><i class="icofont-ui-user me-1"></i>LOGIN</a></li>
        </ul>
      </div>
    </div>

</div>

 