*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
}

.ff-serif {
  font-family: 'Noto Serif TC', serif;
}

.ff-yeseva {
  font-family: 'Yeseva One', serif;
}


h1, h2, h3, h4, h5, h6, ul, p {
    margin-bottom: 0;
}

ul {
    list-style-type: disc;
}

textarea {
resize: none;
}

a {
    display: block;
    color: $armorwash;
    text-decoration: none;
  
    // &:hover {
    //   color: $success;
    // }
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  th, td {
    text-align: left;
    vertical-align: middle;
}